.Form form,
.Form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(2.5 * var(--magic-unit));
}

.Form {
  width: 280px;
  text-align: center;
}

.Form h1,
.Form h2 {
  color: var(--color-primary);
}

.Form a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-secondary);
}

.Form button {
  background-color: var(--color-primary);
  color: var(--color-fresh-white);
}

.Form button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.Form button[type="submit"] {
  width: 150px;
  border: 0px;
  border-radius: 24px;
  font-weight: 600;
  padding: var(--magic-unit);
  cursor: pointer;
}

.Form button[type="submit"]:disabled {
  background-color: var(--color-tertiary-lt);
  color: var(--color-tertiary);
  cursor: unset;
}
